@charset "UTF-8";

.div_search_date{
	display: flex;
}

.div_search_date .div_search_btn{
	display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #2196F3;
    color: white;
    text-align: center;
    box-shadow: 0 1px 6px 0 #20212447;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}

.div_search_date .div_search_btn:hover {
	background-color: #64baff;
}

.div_search_date .div_search_btn .div_icon {
	cursor: pointer; 
	font-size: 17px;
    margin: 5px 10px 5px 10px;
    z-index: 1;
}

.search_date_control{
	display: none;
}

.search_date_input{
	border: none;
	border-radius: 5px;
	padding: 3px 0px 3px 10px;
    margin: 0px 10px 0 10px; 
    box-shadow: 0 1px 6px 0 #20212447; 
    width: 90px;
    cursor: pointer; 
}

.div_dropdown{
  position : relative;
  display : inline-block;
  margin: 0 10px 0 10px;
}

.drop_btn{
    display: flex;
    border: none;
    border-radius: 5px;
    background-color: #2196F3;
    color: white;
    padding: 5px 12px 5px 7px;
    min-width: 85px; 
    text-align: center;
    box-shadow: 0 1px 6px 0 #20212447;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    justify-content: center; 
}

.drop_btn:hover{
	background-color: #64baff; 
}

.drop_btn .dropbtn_icon{
	margin: 3px 5px 0px 5px;
}

.dropdown_content{
    display: none; 
    position: absolute;
    z-index: 1;
    font-weight: 400;
    background-color: #f9f9f9;
    min-width: 105px;
    box-shadow: 0 1px 6px 0 #20212447;
}

.dropdown_content a{
  display : block;
  text-decoration : none;
  color : rgb(37, 37, 37);
  font-size: 12px;
  padding : 12px 20px;
}

.dropdown_content a:hover{
  background-color : #ececec
}
