@charset "EUC-KR";

.header{
	font-size: 22px;
    padding: 0px 15px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff; 
    border-bottom: 2px solid #4F4F4F;
} 

.header_control{
	width: 60%;
    height: 70%;
	margin: 0 50px 0px 50px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.header_row{ 
    cursor: pointer;
    position: relative;
    display: flex;
    width: 15%;
    height: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    transition: 0.2s;
}

.header_row.hover_row:hover {
    background: #999;
    color: white;
}
 
.header_row.hover_row.active {
    background: #999;
    color: white;
}

.header_row a {
	display : inline-block;
	position: absolute;
	width: 100%;
    height: 100%;
	outline: 0;
	touch-action: none;
	text-decoration: none;
}

.header_menu{
	font-size: 18px;
}

.header_menu.btn_menu{
	background: #426b1f;
    color: white; 
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.logoIntro {
	padding: 10px 20px 10px 20px;
    height: 70px;
}
