@charset "EUC-KR";

body {
  background-color : #DDE5F4;
  font-family: "Lato", sans-serif;
  margin: 0;
  display: flex;
}

h5 {
	margin: 10px 0 10px 0;
}

textarea:focus, input:focus{
    outline: none;
    background-color: none;
}

.m-w10 {
  margin: 0 10px 0 10px;
}

.hidden {
  display: none !important; 
}

.hidden_animated {
    visibility: visible;
    opacity: 0;
    transition: visibility 0.5s ease, opacity 0.5s ease;
    position: absolute;
    left: 10px;
}

.visible_animated {
    visibility: visible;
    opacity: 1;
    transition: visibility 1s ease, opacity 1s ease;
    position: absolute;
    left: 10px;
}

.right_animated { 
  transition: 1s;
  transform: translateX(10px);
}

.left_animated {
  transition: 0.5s;
  transform: translateX(0px);
}

.text_align_center{
	text-align : center; 
}

.body_wrapper{
  margin: 80px 0 0 0; 
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; 
}

.content { 
	display: flex;
    flex-wrap: wrap;
    font-size: 28px;
    padding: 80px 0px 0px 250px;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../img/loading.gif) no-repeat center center;
  min-height: inherit;
}

.card {
  padding: 20px;
  margin: 20px;
  /* border: 1px solid #2196F3; */
  border-radius: 10px;
  box-shadow: 0 1px 6px 0 #20212447;
  /* min-height: 300px; */
  width: 100%;
  overflow-x: auto;
  background: #ffffff;	
}

.card.card_w40pcent{
	width: 40% !important;
} 

.card.card_w500{
	width: 500px !important;
} 

.card .card_title {
	display: inline-block;
}

.card .card_control {
	display: flex;
    float: right;
    margin: 10px 0 10px 0;
}

.card .card_control input[type="button"]{
	padding: 5px 12px 5px 12px;
    font-size: 15px;
    font-weight: bold;
    background-color: #2196F3;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 1px 6px 0 #20212447;
    cursor : pointer;
}

.card .card_control input[type="button"]:hover{
	background-color: #64baff;
}

.card .card_textarea{
	width: -webkit-fill-available;
	height: 200px; 
	margin: 0 0 20px 0;
	padding: 20px;
	border: none;
	border-radius: 5px;
    box-shadow: 0 1px 6px 0 #20212447;  
}

.customTable {
	font-size : 15px;
	border-collapse: collapse;
	width: 100%; 
}

.customTable td, .customTable th {
  border: 1px solid #ddd;
  padding: 8px;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  max-width: 500px; 
}

.customTable tr:nth-child(even){background-color: #f2f2f2;}

.customTable tr:hover {background-color: #ddd;}

.customTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #2196F3;
  color: white;
}

.customTable input[type="text"] {
    font-family: "Lato", sans-serif;
    border-radius: 5px;
    border: none;
    box-shadow: 0 1px 6px 0 #20212447;
    padding: 2px 0px 2px 0px;
    padding-left: 10px;
    min-width: 150px;  
    width: -webkit-fill-available;
}

.customTable input[type="button"]{
	padding: 3px 10px 3px 10px;
    font-size: 12px;
    font-weight: bold; 
    background-color: #2196F3;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 1px 6px 0 #20212447;
    cursor : pointer;
}

.customTable input[type="button"]:hover{
	background-color: #64baff;
}

.customTable .btn_modal{
	cursor: pointer;
}

.customTable .status_icon.red{
	color: #ef151e;
    font-size: 20px;
    /* text-shadow: 1px 1px #20212447; */
}

.customTable .status_icon.green{
	color: #5ca25c;
    font-size: 20px;
    /* text-shadow: 1px 1px #20212447; */
}

.custom_cursor{
  position: absolute;
}

.toggle_switch{
	position: relative;
	display: inline-block;
    width: 50px;  
    height: 22px;
    margin: 0px 10px 0px 10px; 
} 

.toggle_switch input{
	opacity: 0;
	width: 0;
	height: 0;
}

.toggle_slider{
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .2s;
	transition: .2s;
}

.toggle_slider:before{
	position: absolute;
	content: "";
	height: 14px;
    width: 14px;
    left: 4px;
    bottom: 4px; 
	 background-color: white;
	-webkit-transition: .2s;
	transition: .2s;
}

input:checked + .toggle_slider {
  background-color: #2196F3;
}

input:focus + .toggle_slider {
  box-shadow: 0 0 1px #2196F3;  
}

input:checked + .toggle_slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px); 
}

.toggle_slider.round {
  border-radius: 22px;
}

.toggle_slider.round:before {
  border-radius: 50%;
} 
 
@media screen and (max-width: 1022px){
	.display_responsive{
		display: block;
	}

  .header_control {
    justify-content: flex-end;
  }

  .header_row {
    width: 35%;
  }

  .display_responsive_none {
    display: none;
  }
} 

@media screen and (min-width: 1023px) {
	.display_responsive{
		display: none;
	}

  .display_responsive_none {
    display: flex;  
  }
}
