<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="UserMapper">
	
    <select id="getUserInfo" parameterType="Map" resultType="Map">
        SELECT
            UI.USER_ID
            , COALESCE(UI.NOTI_YN, 'N') AS NOTI_YN
            , (
                SELECT COUNT(1) FROM TB_NOTI WHERE USER_ID = UI.USER_ID AND SEEN_YN = 'N'
            ) AS NOTI_CNT
        FROM    
            TB_USER_INFO UI
        WHERE
            UI.USER_ID = #{userId}
    </select>

    <update id="updateUserInfo" parameterType="Map">
        UPDATE 
            TB_USER_INFO
        SET
            UPDR_ID = #{sessionUserId}
            , UPD_DTM = NOW()
            <if test='notiYn != null and notiYn != ""'>
            , NOTI_YN = #{notiYn}
            </if> 
        WHERE
            USER_ID = #{userId}
    </update>

</mapper>